src/main/resources/PANCheck.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.TML.PAN/" targetNamespace="http://service.TML.PAN/" name="dataPANStatus">
  <types>
		<xs:schema xmlns:tns="http://service.TML.PAN/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.TML.PAN/">
      <xs:element name="PANRequest" type="tns:PANRequestObject"/>
	  <xs:element name="PANResponse" type="tns:PANResponseObject" />
	  <xs:complexType name="PANRequestObject">
			<xs:sequence>
				<xs:element name="docType" type="xs:string" minOccurs="0" />
				<xs:element name="consent" type="xs:string" minOccurs="0" />
				<xs:element name="pan" type="xs:string" minOccurs="0" />
				<xs:element name="name" type="xs:string" minOccurs="0" />
			</xs:sequence>
        </xs:complexType>
		<xs:complexType name="PANResponseObject">
			<xs:sequence>
			     <xs:element name="status_code" type="xs:string" minOccurs="0" />
				  <xs:element name="request_id" type="xs:string" minOccurs="0" />
                <xs:element name="PANresult" type="tns:resultPANObject" minOccurs="0" />
                <xs:element name="Nameresult" type="tns:resultNameObject" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
		<xs:complexType name="resultPANObject">
			<xs:sequence>
				<xs:element name="name" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
		<xs:complexType name="resultNameObject">
			<xs:sequence>
				<xs:element name="score" type="xs:string" minOccurs="0" />
				<xs:element name="result" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:schema>
  </types>  
  <message name="PANRequest">
        <part name="parameters" element="tns:PANRequest" />
    </message>
	 <message name="PANResponse">
        <part name="parameters" element="tns:PANResponse" />
    </message>	
	<portType name="dataPANStatus">
        <operation name="PANRequest">
            <input  message="tns:PANRequest" />
            <output message="tns:PANResponse" />
        </operation>
    </portType>	
	<binding name="dataPANStatusPortBinding" type="tns:dataPANStatus">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="PANRequest">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
	
	<service name="dataPANStatus">
        <port name="dataPANStatusPort" binding="tns:dataPANStatusPortBinding">
            <soap:address location="http://0.0.0.0:8086/ReqPANRoute" />
        </port>
    </service>
  </definitions>
